.modals{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;

}

.modals.is-open{
    display: flex;
}

.modal-container{
    position: relative;
    padding: 1rem;
    max-width: 482px;
    min-width: 320px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    background: linear-gradient(to right, white 5%, #1188ac);
    border-radius: 15px;
}

.modal-close{
    position: absolute;
    top: 0rem;
    right: 0rem;
}

