:root{
  --bg-color: linear-gradient(to right, black 50%, #1188ac);
}
.login{
  width: 100vw;
  padding: 20px;
  background-image: url(https://thumbs.dreamstime.com/b/tecnolog%C3%ADa-engranajes-ordenador-banner-fondo-fuente-circuito-futurista-c%C3%ADrculo-azul-rel%C3%A1mpago-electricidad-abstracto-vector-220508888.jpg);
  background-repeat: no-repeat;
  background-color: aquamarine;
  margin-top: 20%;
  border-radius: 5px;
}
.logo{
  background-image: url("../public/img/Logo\ empresa\ comunicación\ simple\ morado\ \(1\).png");
  width: 100px;
  margin: auto;
  }
  html, .App, header, .avatar, section{
    background: var(--bg-color);
  }
  a {
    text-decoration: auto;
    color: #8ec6f9;
  }
  a, .active, .nav-link{
    color: blue
  }
.bg-central {
  background: var(--bg-color);
}

.avatar{
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 5rem;
  border:5px white solid;
}
.icon{
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  bottom: -5px;
  right: 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.edit{
  font-size: 20px;
}

.img{
  padding: 20px;
  width: 100%;
  height: auto;
}