.login{
  width: 100vw;
  padding: 20px;
  background-image: url(https://thumbs.dreamstime.com/b/tecnolog%C3%ADa-engranajes-ordenador-banner-fondo-fuente-circuito-futurista-c%C3%ADrculo-azul-rel%C3%A1mpago-electricidad-abstracto-vector-220508888.jpg);
  background-repeat: no-repeat;
  background-color: aquamarine;
  margin-top: 20%;
  border-radius: 5px;
}
.logo{
  background-image: url("../public/img/Logo\ empresa\ comunicación\ simple\ morado\ \(1\).png");
  width: 100px;
  margin: auto;
  }
  html, .App{
    background: linear-gradient(to right, black 50%, #1188ac);
  }
  a {
    text-decoration: auto;
    color: #8ec6f9;
  }